@import './theme.scss';

@media only screen and (max-device-width: 600px) { 

}

@media only screen and (min-device-width: 600px) { 
    .main-page-container {
        display: flex;
        height: calc(100vh - 130px);
        flex-direction: column;
        justify-content: center;
    }
}